* {
    margin: 0;
    padding: 0;
}
body{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: white url(/Images/fundo.png) repeat-x;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a:link, a:visited{
    color: #b10333;
    padding: 2px;
}
a:hover{
    color: #e50040;
}
body.home #navegation a#home,
body.brasil #navegation a#brasil,
body.internacional #navegation a#internacional,
body.fotos #navegation a#fotos {
    color: white;
    background: #de003e;
    cursor: pointer;
}
h2 {
    font-size: 1.05em;
    background: #294c71;
    color: white;
    padding: 5px;
}
label {
    display: block;
    cursor: pointer;
}
input {
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background-color: white;
}
input.submit {
    width: 80px;
    color: white;
    background-color: #b10333;
    border: 2px solid #870529;
    padding: 5px;
}
img.imagem-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
}
h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}
<!---->
#container{
    width: 750px;
    margin: 0 auto;
}
#top{
    height: 150px;
    background: url(/Images/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    border: 1px solid black;
}
#top ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}
#top ul li{
    float: left;
}
#top ul a{
    font-size: 0.91em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url(/Images/divisor.png)no-repeat left center;
}
#top ul .first a {
    background: none;
}
#top ul a:hover {
    color: #69001d;
}
#conteudo {
    margin-top: 60px;
    background: whitesmoke;
}
#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
    }    
#duas-colunas #primario {
    width: 555px;
    }
#uma-coluna #primario {
    width: 750px;
    margin: 0 0 20px 0;
    }          
#secundario {
    width: 270px;
    float: left;    
    margin: 0 0 20px 15px;
}
#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px ;
}
#lateral ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid rgb(218, 218, 218);
}
#lateral ul a:hover {
    background: #f9f9f9 url(/Images/marcador.png)no-repeat left center;
    padding-left: 20px;
    color: grey;
}
#container-rodape {
    background: #294c71;
    padding: 20px;
}
#rodape {
    width: 750px;
    margin: 0 auto;
    color: white;
}
#lista-noticias li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}
#lista-noticias li a img {
    float: left;
    margin: 5px;
}
#lista-noticias li a {
  text-decoration: none;
}
#lista-noticias li a h3 {
    font-size: 0.85em;
    padding: 0px;
    color: #3e7ab9;
}
#lista-noticias li a p {
    font-size: 0.85em;
    color: black;
}
#lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}
<!---->
.caixa{
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(/Images/fundo-caixa.png);
}
.caixa-conteudo{
    background: white;
    padding: 5px;
    margin: 5px 5px 0.5px 5px;
}
.logo{
    width: 152px;
    height: 66px;
    background: url(/Images/logo.png) no-repeat center;
    text-indent: -3000px;
}
.destaque h3 {
    background: #b10333;
    color: white;
}
.entrevista h3 {
    background: #de003e;
    color: white;
}